Flask_API==1.1
requests==2.20.1
SQLAlchemy==1.2.15
Flask_SQLAlchemy==2.3.2
Flask==1.0.2
psycopg2==2.8.4
pytest==5.2.1
Flask-Migrate==2.5.2
Mako==1.1.0
alembic==1.2.1
python-dateutil==2.8.0
python-editor==1.0.4
Flask-Testing==0.7.1
flask-login==0.4.1
bcrypt==3.1.7 
cffi==1.13.2 
flask-bcrypt==0.7.1 
pycparser==2.19
flask-cors==3.0.8
flask-sslify==0.1.5
jsonpickle==1.0
